*{
    margin: 0px;
}
header{
    font-family: 'Irish Grover', cursive;
    background-color: #385c9e;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 8vmin;
    height: 10vmin;
    width: 100%;
}
body{
    font-family: 'Irish Grover', cursive;
    text-align: center;  
    overflow: auto;
    background-color: #7fad70;
}
body::-webkit-scrollbar{
    width: 10px;
    background-color: steelblue;
}
body::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: rgb(3, 47, 97);
}
#general{
    max-height: 1100px;
    min-height: 800px;
    background-image: url("images/cielo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
#general background-img{ 
    object-fit: cover;
    min-height: 600px;
    max-height: 1100px;
}
footer{
    background-color: #385c9e;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-size: 100% 100%;
    border: none;
    height: 10vmin;
}
h1{
    font-size: 4vmin;
}
input[type="button"] {
    background-color: #385c9e;
    border: none;
    color: white;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vmin;
    border-radius: 10%;
    
}
input[type="button"]:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: steelblue;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transform: translateY(-0.3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}
input[type="text"] {
    background-color: #385c9e;
    border: none;
    color: white;
    height: 40px;
    width: 35vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2.5%;
    font-size: 2.5vmin;
}
.abc{
    background-color: #385c9e;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vmin;
    border-radius: 10%;
    cursor: pointer;
    width: 5vmin;
    height: 5vmin;
    margin: 2px 2px;
}
.abc:disabled {
    background-color: tomato;
}
.abc:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: tomato;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transform: translateY(-0.3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}
.btn{
    background-color: #385c9e;
    border: none;
    color: white;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vmin;
    border-radius: 10%;
}
.btn:hover{
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: steelblue;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transform: translateY(-0.3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}
#sectAdivinar{
    width: 40%;
    padding-top: 15px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    vertical-align: top;
}
#sectCanvas{
    width: 45%;
    padding-top: 15px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;      
}
#dibujo{
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;   
}
#elCanvas{
    height: 35vmin;
    width: 50vmin;
    border: 2px solid steelblue;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
}
#frase{
    font-size: 3.5vmin;   
}
#pista{
    font-size: 3.5vmin;
}
#mensaje{ 
    vertical-align: top;    
    display: inline-block;
    box-sizing: border-box;
}
#imgFelicidades{
    height: 300px;
    width: 500px;
    min-height: 150px;
    min-width: 200px;
    border: 2px solid steelblue;
    border-radius: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.corazoncitos{
    object-fit: cover;
    width: 5.9vmin;
    height: 5.2vmin;
    padding: 0%;
}
@media only screen and (max-width: 1024px) {
    #sectCanvas{
        display: block;
        width: 100%;
        padding: 0px;
    }
    #sectAdivinar{
        display: block;
        width: 100%;
        padding-top: 2%;  
    }
    
}
@media only screen and (max-width: 450px) {
    #pista{
        font-family: 'Courier New', Courier, monospace;
        font-size: 14px;
        padding: 0px 8px 0px 8px;
        text-align: justify;
    }
    h1{
        font-family: 'Courier New', Courier, monospace;
        font: bold;
        font-size: 18px;
    }
    .abc{
        font-size: 12px;
        width: 7vmin;
        height: 7vmin;
        margin: 1px 1px;   
    }
    .corazoncitos{
        object-fit: cover;
        width: 8.6vmin;
        height: 7.9vmin;
    }
    #letra{
        width: 50vmin;
        font-size: 15px;
    }
    #botonComprobar{
        width: 30vmin;
        font-size: 12px;
    }
}
